/*footer{
    text-align: center;
}



a, a:visited{
    margin: 10px;
}

a{
    font-family: monospace;
    color: rgb(33, 36, 64);
    font-size: 30px;
}

h1{
    text-align: center;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/
